.App {
  text-align: center;
  background: linear-gradient(to right, rgb(234, 125, 125), rgb(158, 197, 158));
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.viewButton{
  border:1px solid wheat;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Times New Roman';
  font-size: 16px;
  padding: 6px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: rgb(63, 63, 174);
}